<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            [defaultValue]="0"
            id="amount"
            class="form-control"
            formControlName="amount"
          />
          <span
            *ngIf="!form.get('amount').valid && form.get('amount').touched"
            class="help-block"
          ></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" (click)="addItem()">
            Add
          </button>
          <button type="submit" class="btn btn-danger" (click)="removeItem()">
            Delete
          </button>
          <button type="submit" class="btn btn-primary" (click)="clearForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
